*{
    margin:0px;
    border:0px;
    box-sizing: border-box;
}

body{
    font-family:"Segoe UI", Arial, sans-sarif, verdana;
    font-size: 1em;
    scroll-behavior: smooth;
}

header{
    width:100%;
    padding:0px 0px 30px;
    margin:0px auto;
}
main{
    overflow:hidden;
}
header h1{
    color: #007bff;
    margin-left:180px;
    font-size: 2.7rem;
    padding:30px  0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

header nav{
    width:100%;
    background-color:#0071e9;
    height: 50px;
    overflow:hidden; 
    box-shadow: 0 3px 3px rgba(0, 0, 0, .35);
}

header nav ul {
    margin-left: 80px;
    list-style: none;
    padding:0px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

header nav ul li, footer nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration:none;
    color:#FFF;
    padding:15px 25px;
    transition: border-bottom .13s ease-in, 
                background-color .13s ease-in;
}

header nav ul li a:hover , header nav ul li a.active{
    background-color: rgba(255,255,255,.1);
    padding:15px 25px 12.5px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

label[for="navcheck"]{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#navcheck{
    display:none;
}

.sidebar div, .sitecontent .post{
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15),
                0 4px 5px -3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding:20px;
    color:#353535;
    margin-bottom:10px;
}

.sitecontent h2{
    margin-bottom: 15px;
}

.btn{
    padding:10px 20px;
    border:none;
    color:white;
    cursor:pointer;
    background-color:#157DEC;
    text-align:center;
    display: inline-block;    
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
    transition: background-color .1s ease-in,
                box-shadow .1s ease-in;
}
.btn:hover{
    background-color:#0071e9;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .6);
}

.postbtn{
    margin-top: 25px;  
}

.sidebar{
    width:360px;
    margin-right:160px;
    float:right;
}
.sidebar h3{
    margin-bottom:10px;
}

.sidebar div ul{
    list-style: none;
    padding-left:0px;
}

.sidebar div ul li{
    padding:10px 20px;
    border-bottom:1px solid rgba(124, 124, 124, 0.26);
    transition: background-color .1s ease-out;
}

.sidebar div ul li:hover{
    background-color: rgba(0, 0, 0, .13);
}

.sidebar div ul li:last-child{
    border-bottom:none;
}

.sidebar div ul li img{
    width:43px;
    height:43px;
}

.sidebar div ul li a{
    text-decoration: none;
    color:inherit;
    position: relative;
    top:-20px;    
    padding-left:20px;
}

.sitecontent{
    margin: 0 530px 0 200px;
}

.adswidget{
    padding:100px !important;
    background-color:#5faaff;
    text-align:center;
}

footer{
    background-color: #292929;
    padding: 20px 40px;
    margin-top: 20px;
    color:#FFF;
    font-size:97%;
    clear:both;
}

footer nav{
    float:right;
    right:0px;
}
footer nav ul{
    padding:0px;
}

footer nav ul li a {
    text-decoration: none;
    color:#FFF;
    margin: 0 10px;
    transition: color .15s ease-in;
}

footer span a{
    text-decoration:none;
    color:#ff5656;
    transition: color .15s ease-in;
}

footer nav ul li a:hover, footer span a:hover{
    color:#49a1ff;
}

.btotop a{
    padding:12px 15px 9px;
    position: fixed;
    right:30px;
    bottom:65px;
    font-size:1.3rem;
    border-radius: 50%;
    background-color:#006fe6;
    text-decoration: none;
    color:#FFF;
}


@media (max-width:1400px){
    .sidebar{
        margin-right:80px;
    }

    .sitecontent{
        margin: 0 450px 0 100px;
    }
}

@media (max-width:1120px){
    .sidebar{
        margin-right:10px;
    }

    .sitecontent{
        margin: 0 380px 0 20px;
    }
}

@media (max-width:900px){
    .sidebar{
        display:none;
    }

    header h1{
        text-align:center;
        margin-left:0px;
    }
    
    .sitecontent{
        margin: 0 20px 0 20px;
    }
}

@media (max-width:800px){
    footer{
        text-align:center;
    }

    footer span{
        display:block;
        margin-bottom: 10px;
    }

    footer nav{
        float:none;
    }
}

@media (max-width:700px){
    label[for="navcheck"]{
        display:block;
    }

    header nav ul{
        position: fixed;
        width: 100%;
        background: #0071e9;
        margin:0px;
        transform: none;
        left: -100%;
        top: 165px;
        text-align: center;
        transition: left .3s ease;
      }

      header nav ul li{
        display: block;
      }

      header nav ul li a{
        display:block;
        margin:none;
      }

      header nav ul li a:hover,header nav ul li a.active{
          padding:15px 25px;
          border:none;
      }
      
      #navcheck:checked ~ ul{
        left: 0;
      }
}